body {
background-image: url("http://sf.co.ua/14/03/wallpaper-828488.jpg");
}

.epicodus {
  background-image: url("../img/epicodus.jpg");
  background-size: cover;
  background-repeat: space;
}

.jungle{
  background-image: url("../img/jungle.jpg");
  background-size: cover;
}

.oval {
  background-image: url("../img/ovaloffice.jpg");
  background-size: cover;
}

.boxing {
  background-image: url("../img/boxingring.jpg");
  background-size: cover;
}

.oprahStage {
  background-image: url("../img/studio.jpg");
  background-size: cover;
}

.arkham {
  background-image: url("../img/gotham.jpg");
  background-size: cover;
}

#player2 img{
  width: 350px;
  height: 350px;
  border-radius: 15px;
}

#player1 img {
  width: 350px;
  height: 350px;
  border-radius: 15px;
}

h1 {
  text-align: center;
  font-family: impact;
  text-shadow: 1px 1px 2px white, 0 0 1em grey, 0 0 0.2em white;
}

h2 {
  text-align: center;
  font-family: impact;
  text-shadow: 1px 1px 2px white, 0 0 1em grey, 0 0 0.2em white;
  font-size: large;

}

h3 {
  text-align: center;
  text-shadow: 1px 1px 2px white, 0 0 1em grey, 0 0 0.2em white;
}

h5  {
  text-align: center;
  text-shadow: 1px 1px 2px white, 0 0 1em grey, 0 0 0.2em white;
  font-weight: bold;

}

/*img {
  width: 150px;
  height: 150px;
}*/


.stages {
  margin-left: 50px;
  margin-bottom: 25px;
  width: 250px;
  height: 250px;
}

.fighters {
  /*margin-bottom: 25px;*/
  width: 250px;
  height: 250px;
  border-radius: 15px;
}

#pvp {
  margin-left: 200px;
  font-size: 75px;

}
#cpu {
  margin-left: 200px;
  font-size: 75px;
}

#replay {
  float: left;
}

#newgame {
  float: right;
}

#nextpage {
  float: right;
}

#fight {
  margin-left: 448px;
  font-size: 75px;
}

.player1buttons {
  text-align: center;
}

.player2buttons {
  text-align: center;
}

.col-md-3 {
  border: solid 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 15px white;

}
.col-md-4 {
  border: solid 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 15px white;
}

#jumbo1 {
  border: solid 10px;
  background-image: url("https://media1.tenor.com/images/b2a284afcda426722f679d3298566ced/tenor.gif?itemid=4954978");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 75%;
  box-shadow: 0px 0px 15px white;

}

#jumbo2 {
  border: solid 10px;
  background-image: url("http://www.gifmania.co.uk/Sports-Animated-Gifs/Animated-Boxing/Boxing-Gloves/Gloves-Boxing-87381.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 0px 0px 15px white;

}

#jumbo3 {
  border: solid 10px;
  background-image: url("https://image.dhgate.com/0x0/f2/albu/g4/M01/28/2B/rBVaEFeTY02AG8JhAAbrthW2O-w281.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 75%;
  box-shadow: 0px 0px 15px white;

}

#jumbo4 {
  border: solid 10px;
  background-image: url("http://www.reactiongifs.com/r/14.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 75%;
  box-shadow: 0px 0px 15px white;

}

.btn {

  box-shadow: 0px 0px 15px white;
  border: solid  3px;

}
/*
.page1 {
  display: none;
}

.page2 {
  display: none;
<<<<<<< HEAD

}*/


/*.page3 {
  display: none;

}*/


/*.page4 {
  display: none;
}
