h1 {
  text-align: center;
  font-family: impact;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

h2 {
  text-align: center;
  font-family: impact;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}
img {
  width: 150px;
  height: 150px;
}

#pvp {
  margin-left: 225px;
  font-size: 75px;

}
#cpu {
  margin-left: 225px;
  font-size: 75px;
}

#replay {
  float: left;
}

#newgame {
  float: right;
}

#nextpage {
  float: right;
}

#fight {
  float: right;
}

.col-md-3 {
  padding: 0;
}
/*.page1 {
  display: none;
}*/

/*.page2 {
  display: none;

}


.page3 {
  display: none;

}

.page4 {
  display: none;

}*/
